<h1> Create new figure </h1>

<form action="/figures" method="POST">
  <label for="figure_name"> Name: </label>
  <input type="text" name="figure[name]" id="figure_name">

  <br><br>

  <label> Title(s): </label>
  <% Title.all.each do |title| %>
    <input type="checkbox" name="figure[title_ids][]" value="<%= title.id %>" id="title_<%= title.id %>"> <%= title.name %> </input>
  <% end %>

  <br><br>

  <label> Landmark: </label>
  <% Landmark.all.each do |landmark| %>
    <input type="checkbox" name="figure[landmark_ids][]" value="<%= landmark.id %>" id="landmark_<%= landmark.id %>"> <%= landmark.name %> </input>
  <% end %>

  <br><br>

  <label> Add Landmark: </label>
  <input type="text" name="landmark[name]" id="new_landmark">

  <br><br>

  <label> Add Title: </label>
  <input type="text" name="title[name]" id="new_title">

  <br><br>

  <input type="submit" value="Create New Figure">
  
</form>